.green {
    color: green;
}
.yellow {
    color: yellow;
}
.orange {
    color: orange;
}
.red {
    color: red;
}
.purple {
    color: purple;
}

form {
    margin-top: 10px;
    margin-bottom: 10px;
}